name: "Release: Create & Publish"

run-name: "Release from ${{ github.ref_name }}"

concurrency:
    group: release-${{ github.ref_name }}
    cancel-in-progress: false

on:
  workflow_dispatch:
  push:
    branches: 
      - 'main'

permissions:
  contents: write
  issues: write

jobs:
  create_release:
    uses: tsvws/iam-gha-workflows/.github/workflows/reusable-sr-create.yaml@v1.4.0
    permissions:
      contents: write
    secrets:
      personal_access_token: ${{ secrets.GH_TOKEN }}
